.Background {
  position: fixed;
  height: 400px;
  width: 100%;
  top: 0;
  background-image: url("/images/ArticleBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  border-bottom: thick solid #23c7a7;
}
.Main {
  max-width: 1000px;
  width: 95%;
  min-height: 100vh;
  margin: auto;
  margin-top: 200px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
}

.Main h1,
.Main h2,
.Main h3,
.Main h4,
.Main h5,
.Main h6,
.Main p,
.Main ul,
.Main li {
  margin: 15px 0px;
  line-height: 30px;
}
.Main h1 {
  text-align: center;
  margin: 50px 0px;
}
.Main h3 {
  content: "";
  background-color: rgba(35, 199, 167, 0.5);
  height: 100%;
  /* width: 100%; */
}
