.Container {
  display: flex;
  width: 100%;
  height: 700px;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.Container_TopBckGround {
  width: 100%;
  height: 200px;
  background-color: white;
}
.Container_BottomBckGround {
  background-color: #f7f9fa;
  border-top: solid 3px black;

  width: 100%;
  height: 600px;
}
.Container_Inner {
  position: absolute;
  height: 100%;
  width: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Container_Inner_label {
  width: 100%;
  font-size: 32px;
  color: #dddddd;
  padding-left: 20px;
  margin-top: 100px;
}
.Slate {
  width: 100%;
  height: 200px;
  background-image: url("/images/whiteMarbleTexture.jpg");
  background-size: cover;
  border: solid thin #c8c9cb;
  padding: 20px;
}
.Slate_Article {
  width: 100%;
  height: 100%;
  border: solid 3px #ffd700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Slate_Article_Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.Slate_Article_Content h3 {
  font-size: 20px;
  color: #716e6e;
}

.Footer_title {
  font-size: 3rem;
  margin-top: 30px;
  font-weight: 400;
  color: #aeadad;
  text-shadow: 1px 1px white, -1px -1px #c8c9cb;
}

.Footer_container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  /* background-color: #aeadad; */
  height: 150px;
  width: 100%;
}

.Footer_container_Rectangle {
  height: 80%;
  width: 30%;
  background-color: white;
  border-radius: 20px;
  border: black solid 2px;
}

@media only screen and (max-width: 1130px) {
  .Container_Inner {
    width: 90%;
  }
  .Slate_Article {
    justify-content: space-evenly;
  }
  .Slate_Article_Content {
    width: 80%;
  }
}

@media only screen and (max-width: 851px) {
  .Slate_Article_Content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .Slate_Article_Content h3 {
    font-size: 18px;
  }

  .Slate_Article_Content p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 650px) {
  .Slate_Article_Content h3 {
    font-size: 16px;
  }

  .Slate_Article_Content p {
    font-size: 11px;
  }
}
@media only screen and (max-width: 500px) {
  .Container_Inner {
    width: 95%;
  }
  .Container_Inner_label {
    padding-left: 10px;
    font-size: 20px;
  }
  .Slate_Article_Content h3 {
    font-size: 16px;
  }

  .Slate_Article_Content p {
    font-size: 11px;
  }
}
