.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
  max-width: 1300px;
  margin: 0px auto;
  padding-left: 50px;
  position: relative;
}

.Label {
  font-size: 25px;
  color: rgb(70, 70, 70);
}

.ImageContainer {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.ImageContainer div:nth-child(1):hover,
.ImageContainer div:nth-child(2):hover,
.ImageContainer div:nth-child(3):hover,
.ImageContainer div:nth-child(4):hover,
.ImageContainer div:nth-child(5):hover,
.ImageContainer div:nth-child(6):hover,
.ImageContainer div:nth-child(7):hover,
.ImageContainer div:nth-child(8):hover,
.ImageContainer div:nth-child(9):hover,
.ImageContainer div:nth-child(10):hover {
  opacity: 1;
  z-index: 2;
  /* transform: rotate(360deg); */
  transition: 0.5s;
}
.ImageContainer:hover div {
  opacity: 0.3;
}
.ImageBox {
  transition: 300ms;
  position: relative;
  min-width: 100px;
  height: 100px;
  border: solid 2px #ffd700;
  border-radius: 8px;
  margin-right: 20px;
  /* opacity: 0; */
  cursor: pointer;
}
.ImageBox:hover {
  position: relative;
  min-width: 130px;
  height: 130px;
  border: solid 5px #23c7a7;
  border-radius: 8px;
  margin-right: 20px;
  opacity: 1;
}
@media only screen and (max-width: 1250px) {
  .ImageBox:nth-last-child(1),
  .ImageBox:nth-last-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .ImageBox:nth-last-child(1),
  .ImageBox:nth-last-child(2),
  .ImageBox:nth-last-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .ImageBox:nth-last-child(1),
  .ImageBox:nth-last-child(2),
  .ImageBox:nth-last-child(3),
  .ImageBox:nth-last-child(4) {
    display: none;
  }
}
@media only screen and (max-width: 770px) {
  .ImageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "box1 box2 box3" "box4 box5 box6";
  }
  .Container {
    height: 650px;
  }
  .ImageContainer {
    height: 350px;
    width: 300px;
  }
  .ImageBox {
    height: 150px;
    width: 150px;
  }
  .ImageBox:hover {
    min-width: 155px;
    height: 155px;
  }
}
@media only screen and (max-width: 550px) {
  .ImageBox:nth-last-child(1),
  .ImageBox:nth-last-child(2),
  .ImageBox:nth-last-child(3),
  .ImageBox:nth-last-child(4),
  .ImageBox:nth-last-child(5),
  .ImageBox:nth-last-child(6) {
    display: none;
  }
  .ImageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "box1 box2 " "box3 box4";
  }
  .Container {
    padding-left: 20px;
  }
}
