.Container {
  height: 450px;
  width: 100%;
  /* padding-left: 50px; */
  position: relative;
  padding: 0px 15px;
  border-left: none;
  background-color: #f7f9fa;
  justify-self: flex-start;
}
.Container_section {
  margin: auto;
  max-width: 1300px;
  height: 100%;
  display: flex;
  position: relative;
}
.Container_section_Left {
  border: solid 4px #23c7a7;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;
  padding-left: 50px;
  width: 60%;
  background-color: #2f363c;
  /* box-shadow: #21C7A6 0px 2px 8px 0px; */
  background-image: url("/images/dotted-bg.jpeg");
  background-size: cover;
  align-self: flex-start;
  clip-path: polygon(0% 0%, 100% 0%, 84% 100%, 0% 100%);
  /* border-left: none; */
  border-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 2;
}
.Label {
  font-size: 25px;
  color: white;
}

.ImageContainer {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
  /* background-color: #23c7a7; */
}

.ImageContainer div:nth-child(1):hover,
.ImageContainer div:nth-child(2):hover,
.ImageContainer div:nth-child(3):hover,
.ImageContainer div:nth-child(4):hover,
.ImageContainer div:nth-child(5):hover,
.ImageContainer div:nth-child(6):hover,
.ImageContainer div:nth-child(7):hover,
.ImageContainer div:nth-child(8):hover,
.ImageContainer div:nth-child(9):hover,
.ImageContainer div:nth-child(10):hover {
  opacity: 1;
  z-index: 2;
  /* transform: rotate(360deg); */
  transition: 0.5s;
}
.ImageContainer:hover div {
  opacity: 0.3;
}
.ImageBox {
  transition: 300ms;
  position: relative;
  min-width: 110px;
  height: 110px;
  border: solid 3px #23c7a7;

  border-radius: 12px;
  margin-right: 20px;
  /* opacity: 0; */
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
.ImageBox:hover {
  position: relative;
  border: solid 2px #23c7a7;
  opacity: 1;
}

.Container_section_Right {
  position: absolute;
  width: 60%;
  height: inherit;
  /* background-color: #ffd700; */
  right: 0;
  background-image: url("/images/jordanImg2.jpg");
  background-size: cover;
  background-position: center;
  border: solid 4px #ffd700;
  background-color: #2f363c;
  background-position: center;
}

@media only screen and (max-width: 1000px) {
  .Container_section_Right {
    display: none;
  }
  .Container_section_Left{
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 770px) {
  .ImageContainer {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "box1 box2 box3" "box4 box5 box6";
  }
  /* .ImageBox:nth-last-child(1),
  .ImageBox:nth-last-child(2),
  .ImageBox:nth-last-child(3),
  .ImageBox:nth-last-child(4) {
    display: none;
  } */
  .Container {
    height: 650px;
  }
  .ImageContainer {
    height: 350px;
    /* width: 300px; */
  }
  .ImageBox {
    height: 150px;
    width: 150px;
    background-color: #23c7a7;
  }
  .ImageBox:hover {
    min-width: 155px;
    height: 155px;
  }
}
@media only screen and (max-width: 550px) {
  /* .ImageBox:nth-last-child(1),
  .ImageBox:nth-last-child(2),
  .ImageBox:nth-last-child(3),
  .ImageBox:nth-last-child(4),
  .ImageBox:nth-last-child(5),
  .ImageBox:nth-last-child(6) {
    display: none;
  } */
  .ImageContainer {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "box1 box2 " "box3 box4";
  }
  .Label {
    text-align: center;
    margin-bottom: 10px;
  }
  .Container {
    padding-left: 20px;
  }
  .Container_Inner {
    padding: 0%;
    align-items: center;
    justify-content: space-evenly;
  }
  .ImageBox {
    margin: auto;
  }
}
