.SearchBar {
  height: 40px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputbox {
  width: 50%;
  height: 90%;
  border-radius: 10px;
  border: none;
  background-color: white;
  border: solid thin #ffd700;
  padding-left: 10px;
  color: black;
}
.inputbox:hover {
  border: white solid thin;
}
.SearchBar_Section {
  height: 90%;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.SearchBar_Section_counter {
  width: 60%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  font-size: 0.4rem;
}
.SearchBar_Section_notification {
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: red;
}
