.Container{
    width: 98%;
    height: 80%;
   background-color: #1F2C35;
   margin-top: 20px;
   border-radius: 8px;
   border: outset thick #21C7A6;
   animation: modalOpen 0.3s linear ;
   color: white;
   overflow-y: scroll;
   position: relative;
}

@keyframes modalOpen {
    from{
        width: 0%;
        height: 0%;
    }
    to{
        width: 90%;
        height: 80%;
    }
}

.Container_Block{
    /* border-top: dotted white thick; */
    border-bottom: dotted white thick;
    padding: 15px;
}
.Container_Cross{
    position: fixed;
    top: 10px;
    right: 10px;
    color: red;
    font-size: 3rem;
    cursor: pointer;

}