.Card {
  width: 250px;
  height: 545px;
  background-color: #1d1932;
  border-radius: 10px;
  border: #ffd700 3px solid;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10px 5px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}
.Card:hover {
  border: white solid thin;
}

.Card_infoBox {
  position: relative;
  background-color: rgba(35, 199, 167, 0.5);
  height: 25%;
  width: 95%;
  margin-bottom: 5px;
  border-radius: 5px;
  color: aliceblue;
  font-size: 0.8rem;
  padding-left: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  border: transparent solid thin;
}
.Card_infoBox:hover {
  border: white solid thin;
}
.Card_infoBox_img {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 5px;
  top: -40px;
  background: #1d1932;
  border-radius: 100%;
}

.Card_ReadTime {
  background: #de2589;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.Card_infoBox_content {
  z-index: 2;
  background-color: white;
  width: 95%;
  color: #1d1932;
  border-radius: 5px;
}
.Card_Discript {
  font-size: 0.7rem;
}
.Card_Discript span {
  font-weight: 600;
  color: #de2589;
  text-align: end;
}
.Card:hover .Card_Discript_full {
  display: flex;
}
.Card_Discript_full {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #196c5a;
  padding: 5px;
  height: 250px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  /* overflow-y: hidden; */
}
@media only screen and (max-width: 600px) {
  .Card {
    width: 220px;
    height: 240px;
  }
  .Card_infoBox_img {
    width: 50px;
    height: 50px;
    top: -30px;
  }
  .Card_Discript_full {
    font-size: 0.7rem;
    height: 230px;
  }
}
@media only screen and (max-width: 500px) {
  .Card {
    width: 200px;
    height: 220px;
    margin: 5px;
  }
  .Card_infoBox_img {
    width: 30px;
    height: 30px;
    top: -20px;
  }
  .Card_Discript_full {
    font-size: 0.6rem;
    height: 210px;
  }
}
@media only screen and (max-width: 440px) {
  .Card {
    width: 180px;
    height: 200px;
    margin: 5px;
  }
  .Card_infoBox_img {
    width: 30px;
    height: 30px;
    top: -20px;
  }
  .Card_Discript_full {
    font-size: 0.6rem;
    height: 180px;
  }
  .Card_infoBox_content {
    font-size: 0.6rem;
  }
  .Card_ReadTime {
    padding: 1px;
  }
}
@media only screen and (max-width: 400px) {
  .Card {
    width: 160px;
    height: 180px;
    margin: 5px;
  }
  .Card_infoBox_img {
    width: 30px;
    height: 30px;
    top: -20px;
  }
  .Card_Discript_full {
    font-size: 0.5rem;
    height: 170px;
  }
  .Card_infoBox_content {
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 360px) {
  .Card {
    width: 150px;
    height: 170px;
    margin: 3px;
  }
  .Card_infoBox_img {
    width: 30px;
    height: 30px;
    top: -20px;
  }
  .Card_Discript {
    font-size: 0.5rem;
  }
  .Card_infoBox_content {
    font-size: 0.5rem;
  }
  .Card_Discript_full {
    font-size: 0.5rem;
    height: 170px;
  }
}
