.Container {
  display: flex;
  border: #ffd700 solid 3px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  margin: 5px 0px;
  background-color: #f4f5f7;
}
.Container:hover {
  background-color: white;
  border: #23c7a7 solid 3px;
}
.TopicHeader {
  color: red;
  text-decoration: line-through;
}
