.NavContainer {
  height: 90px;
  width: 100%;
}
.NavContainer_Fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0px 50px 0px 50px;
  height: 90px;
  width: 100vw;
  background-color: #ffffff;
  border-bottom: solid thin #d8dce8;
  z-index: 2;
}
.NavContainer_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  font-weight: 600;
  font-size: 1.2rem;
}
.NavContainer_Fixed_List {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #5f6773;
}
.NavContainer_Fixed_List_Item {
  margin: 0px 30px;
}
