.Container {
  height: 1000px;
  width: 100%;
  background-color: #f7f9fa;
}
.InnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  max-width: 1300px;
  margin: 0px auto;
}
.TopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
}
.TopContainer_Label1 {
  font-weight: bold;
  font-size: 13px;

  color: #b4b4b4;
}
.TopContainer_Label2 {
  font-size: 33px;
  margin: 20px 0px;
}
.TopContainer_Label3 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #6484bc;
}

.BottomContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  font-weight: 400;
  height: 70%;
}

.BottomContainer_Card {
  width: 310px;
  height: 558px;
  background-color: #6484bc;
}
.BottomContainer:hover article {
  opacity: 0.6;
  cursor: pointer;
}

.BottomContainer article:nth-child(1):hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: solid 4px #23c7a7;
}
.BottomContainer article:nth-child(1):hover span {
  transition: 1s;
  width: 100%;
}
.BottomContainer article:nth-child(2):hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: solid 4px #23c7a7;
}
.BottomContainer article:nth-child(2):hover span {
  transition: 1s;
  width: 100%;
}
.BottomContainer article:nth-child(3):hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: solid 6px #23c7a7;
}
.BottomContainer article:nth-child(3):hover span {
  transition: 1s;
  width: 100%;
}
@media only screen and (max-width: 750px) {
  .Container {
    height: 1500px;
  }
  .TopContainer {
    height: 10%;
  }

  .BottomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
  }
}
