.ArtLogo {
  height: 200px;
  min-height: 200px;
  background-color: aliceblue;
  width: 100%;
  margin: 20px 0px;
  background-image: url("/images/dotted-bg.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  /* border: solid 2px #1d1932; */
  border: solid 2px #ffd700;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ArtLogo_header {
  color: #a3a3a3;
  text-align: center;
  background-color: rgba(29, 25, 50, 0.5);
}
.ArtLogo_header2 {
  color: #f53535;
  text-align: center;
  background-color: rgba(29, 25, 50, 0.5);
  background: -webkit-linear-gradient( 92deg, #95d7e3, #eb76ff );
  background-size:600vw 600vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimate 5s linear infinite alternate;
}



@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
    
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
    
  }
}




.ArtLogo_Buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  align-self: center;
  /* background-color: rgba(29, 25, 50, 0.5); */
  flex-grow: 1;
  /* margin: auto; */
  max-height: 50px;
}
.ArtLogo_Buttons_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  border: solid thin #23c7a7;
  cursor: pointer;
}
.ArtLogo_Buttons_btn:nth-child(1):hover {
  background-color: #23c7a7;
}
.ArtLogo_Buttons_btn:nth-child(2):hover {
  background-color: #23c7a7;
}
.ArtLogo_Buttons_btn:nth-child(1) {
  background-color: #1d1932;
  color: aliceblue;
}
.ArtLogo_Buttons_btn:nth-child(2) {
  background-color: transparent;
  color: black;
}
@media only screen and (max-width: 500px) {
  .ArtLogo {
    height: 100px;
    min-height: 100px;
  }
  .ArtLogo_Buttons {
    display: none;
  }
}
