.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  height: 240px;
  width: 100%;
  position: relative;
}
.Container_Background_Top {
  background-color: #f7f9fa;
  height: 30%;
  width: 100%;
}
.Container_Background_Bottom {
  background-color: #ffff;
  height: 70%;
  width: 100%;
}
.Container_Title {
  position: absolute;
  top: 20px;
  text-align: center;
  font-size: 4rem;
  padding: 50px 100px;
  border: solid 3px #23c7a7;
  background-color: #F6F9FA;
  color: wblack;
  border-bottom-right-radius: 100px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-shadow: 1px 1px #23c7a7, -2px -2px #444;
}

@media only screen and (max-width: 900px) {
  .Container_Title {
    font-size: 3rem;
    padding: 50px 80px;
  }
}
@media only screen and (max-width: 600px) {
  .Container_Title {
    font-size: 2.5rem;
    padding: 45px 60px;
  }
}

@media only screen and (max-width: 600px) {
  .Container_Title {
    font-size: 1.6rem;
    padding: 35px 50px;
  }
}
