.Container {
  min-height: 1017px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.Container_ContactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
.Container_ContactContainer_title {
  background-color: white;

  margin-top: 30px;
  font-size: 30px;
}
.Container_ContactContainer_SubHeading {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #6484bc;
  background-color: white;
}
@media only screen and (max-width: 650px) {
  .Container_ContactContainer_title {
    font-size: 20px;
  }
  .Container_ContactContainer_SubHeading {
    font-size: 16px;
  }
}
