.Container {
  width: 100%;
  height: 620px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}

.Container_Main {
  width: 100%;
  max-width: 1400px;
  height: 550px;
  margin: 0px 20px;
  border-radius: 8px;
  /* border: solid 3px brown; */
  border: solid 3px #ffd700;

  position: relative;
}
.Container_Main_LeftSection_Buttons {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin-top: 20px;
}
.Container_Main_LeftSection_Buttons button {
  margin-right: 0px;
}

.Container_Main_LeftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  position: absolute;
  left: 0;
  height: 100%;
  width: 55%;
  background-color: #f7f9fa;
  z-index: 1;
  background-image: url("/images/HeroLeftLeaves.jpg");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 8px;
  clip-path: polygon(0% 0%, 100% 0%, 84% 100%, 0% 100%);
  animation: BackgroundWave 5s alternate ease-in-out infinite;
}
.Container_Main_LeftSection_text {
  color: white;
  width: 60%;
}

.Container_Main_RightSection {
  position: absolute;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: #ffd700;
  background-image: url("/images/jordan.jpg");
  background-color: #f7f9fa;
  /* filter: blur(0.5px); */
  background-size: cover;
  background-position: top;
  /* animation: BackgroundWave 5s infinite linear alternate; */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@keyframes BackgroundWave {
  from {
    background-position: right;
    background-size: 120%;
  }
  to {
    background-position: left;
    background-size: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .Container_Main_RightSection {
    display: none;
  }
  .Container_Main_LeftSection {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 440px) {
  /* .Container_Main_RightSection {
    display: none;
  } */
  .Container_Main_LeftSection_Buttons {
    width: 220px;
  }
  .Container_Main_LeftSection_Buttons button {
    width: 100px;
  }
  .Container_Main_LeftSection_text {
    width: 90%;
  }
}
@media only screen and (max-width: 390px) {
  .Container_Main_LeftSection h1 {
    font-size: 1rem;
  }
}
