.Container {
  width: 100%;
  height: 620px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}

.Container_Main {
  width: 100%;
  max-width: 1400px;
  height: 550px;
  margin: 0px 20px;
  border-radius: 8px;
  /* border: solid 3px brown; */
  border: solid 3px #ffd700;

  position: relative;
}

.Container_Main_LeftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  position: absolute;
  left: 0;
  height: 100%;
  width: 55%;
  background-color: #f7f9fa;
  z-index: 1;
  background-image: url("https://images.unsplash.com/photo-1528604891270-c2d9c3d1fc0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  clip-path: polygon(0% 0%, 100% 0%, 84% 100%, 0% 100%);
}
.Container_Main_LeftSection_text {
  color: white;
  width: 60%;
}

.Container_Main_RightSection {
  position: absolute;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: #ffd700;
  background-image: url("/images/jordan.jpg");
  background-color: #f7f9fa;
  /* filter: blur(0.5px); */
  background-size: cover;
  background-position: top;
  /* animation: BackgroundWave 5s infinite linear alternate; */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* @keyframes BackgroundWave {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
} */

@media only screen and (max-width: 1000px) {
  .Container_Main_RightSection {
    display: none;
  }
  .Container_Main_LeftSection {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 1200px) {
  /* .Container_Main_RightSection {
    display: none;
  } */
}
