.Secondary {
  border: solid 2px #1ca287;
  height: 44px;
  width: 150px;
  color: black;
  border-radius: 57px;

  margin-right: 30px;
  box-shadow: 4px 4px 7px rgba(255, 255, 255, 0.25);

  background-color: white;
  z-index: 10;
}
.Secondary:hover {
  transition: 300ms;
  box-shadow: none;
  box-shadow: 4px 4px 7px rgba(255, 255, 255, 0.25);

  color: white;
  border: solid 2px white;
  background-color: #23c7a7;
  cursor: pointer;
}
