.Container {
  height: 1300px;
  width: 100%;
  background-color: white;
}
.Container_Inner {
  width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;
}
.Container_TopSection {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #F6F9FA;
  padding: 20px;
  border: solid thin black;
  border-radius: 10px;
}
.TopSection_article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  color: #c8c9cb;
}
.TopSection_article_heading {
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 1px 1px white, -1px -1px #444;
}
.TopSection_article_paragraph {
  color: black;
  font-weight: 500;

  font-size: 16px;
}
@media only screen and (max-width: 1300px) {
  .Container_Inner {
    width: 100%;
  }
}
@media only screen and (max-width: 1030px) {
  .Container_TopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .TopSection_article {
    width: 80%;
    height: 300px;
    margin: 20px 0px;
  }
  .Container {
    height: 1500px;
  }
  .Container_Inner section:nth-child(1) {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 850px) {
  .TopSection_article_heading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 770px) {
  .TopSection_article_heading {
    font-size: 1.5rem;
  }
  .TopSection_article_paragraph {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 550px) {
  .Container {
    height: 1350px;
  }
  .Container_TopSection {
    padding: 0px 10px;
  }
  .TopSection_article {
    width: 90%;
  }
}
