.ArticleContainer {
  position: absolute;
  top: 0px;
  padding-top: 86px;
  width: 100vw;

  height: 100%;
  /* // flex: 1; */
  background: #1f2c35;
  display: flex;
}
@media only screen and (max-width: 1020px) {
  .ArticleContainer {
    flex-direction: column-reverse;
  }
}
