.nav {
  width: 180px;
  min-width: 280px;
  height: 100%;
  /* background-color:pink ; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_list {
  width: 90%;
  height: 95%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  padding: 10px 0px;
  border: solid thin #ffd700;
}
@media only screen and (max-width: 1020px) {
  .nav {
    width: 100%;

    height: 200px;
    min-height: 100px;
    /* background-color: #ffd700; */
    margin-top: 10px;
  }
  .nav_list_logo {
    display: none;
  }

  .nav_list {
    flex-direction: row;
    min-width: 95vw;
    /* height: 200px; */
  }
}
@media only screen and (max-width: 560px) {
  .nav_list {
    flex-direction: row;
    min-width: 100vw;
    height: 100%;
    padding: 0px 0px;
    border: none;
  }
  .nav {
    min-height: 120px;
    /* background-color: #ffd700; */
  }
}
