.container {
  background-color: #fff;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
.Home {
  width: 100vw;
  height: 100vh;
  background-color: #131129;
  display: flex;
}
